@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <h4>
        NewsRUs is an independent crisis-focused news aggregator which covers conflicts, geopolitics and urgent news from around the world, with an occasional essay explaining current events, history and social matters.
    </h4>
    <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">View Latest News</a>
</div>
